numpy<2.0.0
pandas
scikit-learn
requests
rdkit-pypi==2022.9.5
fastapi
uvicorn[standard]
motor
transformers==4.33.0
tokenizers==0.13.3
torch
boto3
aiofiles
joblib
chembl_webresource_client
chemprop==1.6.1
descriptastorus
dgl
dgllife
pytorch-lightning
modal
weasyprint==61.2
Jinja2==3.1.4
faiss-cpu==1.7.4
scikit-learn==1.3.0
reportlab
pydantic
PyYAML
python-multipart
