numpy<2.0.0
pandas
scikit-learn
requests
rdkit-pypi==2022.9.5
fastapi
uvicorn[standard]
motor
transformers==4.33.0
tokenizers==0.13.3
torch
boto3
aiofiles
joblib
chembl_webresource_client
chemprop==1.6.1
descriptastorus
dgl
dgllife
pytorch-lightning
modal
weasyprint
jinja2
reportlab
